﻿@if (DrawR1Circle)
{
    <div class="r1circle" style="top: @(CanvasHeight / 2 - Scale)px; left: @(CanvasWidth / 2 - Scale)px;
         height: @(2 * Scale)px; width: @(2 * Scale)px;"></div>
}
@if (DrawAxes)
{
    <div class="axisX"></div>
    <div class="axisY"></div>

    @for (int i = -10; i <= 10; i++)
    {
        if (i == 0) continue;
        <div class="notchX" style="left: @(CanvasWidth / 2 + i * Scale / 5)px;"></div>
        <div class="notchY" style="top: @(CanvasHeight / 2 + i * Scale / 5)px;"></div>
        <span class="labelX" style="left: @(CanvasWidth / 2 + i * Scale / 5 - 10)px;">@(i / 5.0)</span>
        <span class="labelY" style="top: @(CanvasHeight / 2 + i * Scale / 5 - 12)px;">@(-i / 5.0)</span>
    }
}

@code {
    [Parameter] public long CanvasWidth { get; set; }
    [Parameter] public long CanvasHeight { get; set; }
    [Parameter] public double Scale { get; set; }
    [Parameter] public bool DrawR1Circle { get; set; }
    [Parameter] public bool DrawAxes { get; set; }
}
