﻿<h2>About</h2>
<div class="help">
    @if (Mode == DisplayMode.ChainOfSquares && SwapModifier)
    {
        <p>Draws <i>P<sub>n+1</sub> = P<sub>n</sub><sup>2</sup> + SP</i> up to <i>n = max iterations</i> where <i>P<sub>1</sub> = CP</i></p>
    }
    else if (Mode == DisplayMode.ChainOfSquares)
    {
        <p>Draws <i>P<sub>n+1</sub> = P<sub>n</sub><sup>2</sup> + CP</i> up to <i>n = max iterations</i> where <i>P<sub>1</sub> = SP</i></p>
    }
    else if (Mode == DisplayMode.SquareOfCurrent)
    {
        <p>Draws a point at CP<sup>2</sup></p>
    }
    else if (Mode == DisplayMode.Julia)
    {
        <p>Draws a Julia set <i>f(z) = z<sup>n</sup> + SP</i> up to max iterations where <i>n</i> is selected power</p>
    }
    else
    {
        <p>Select an option to see more info.</p>
    }
</div>

@code {
    [Parameter] public DisplayMode Mode { get; set; }
    [Parameter] public bool SwapModifier { get; set; }
}
