﻿<div class="pointInput">
    <input @bind="re" />
    +
    <div>
        <input @bind="im" />
        <i>i</i>
    </div>
    <button @onclick="Set">Set</button>
</div>

@code {
    private string re, im;
    [Parameter] public EventCallback<Complex> OnSet { get; set; }

    private void Set()
    {
        try
        {
            var result = new Complex(
                double.Parse(re.Replace(",", "."), System.Globalization.CultureInfo.InvariantCulture),
                double.Parse(im.Replace(",", "."), System.Globalization.CultureInfo.InvariantCulture));
            re = im = string.Empty;
            OnSet.InvokeAsync(result);
        }
        finally { }
    }
}
