﻿body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.root {
    display: grid;
    height: 100%;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    box-shadow: 0 2px 5px lightgray;
    display: flex;
    padding: 10px;
    align-items: center;
}

.header h1 {
    font-weight: lighter;
    width: 250px;
}

.header button {
    margin-right: 10px;
    width: 150px;
}

.menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.menu > * {
    margin-bottom: 10px;
}

.menu h2 {
    font-weight: normal;
}

.mousePosition {
    font-size: 18px;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.pointInput {
    display: grid;
    grid-template-columns: 1fr 10px 1fr 40px;
    grid-column-gap: 5px;
    line-height: 30px;
}

.pointInput div {
    position: relative;
}

.pointInput div input {
    padding-right: 20px;
}

.pointInput i {
    position: absolute;
    top: 0;
    right: 10px;
}

.main canvas:first-child {
    z-index: -1;
}

input {
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid lightgray;
    width: 100%;
}

input:focus {
    border-color: orange;
}

button {
    font-family: 'Segoe UI', sans-serif;
    height: 35px;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button:hover {
    background-color: silver;
    transition: background-color linear 0.2s;
}

button.active {
    background-color: orange;
    color: white;
}

button.active:hover {
    background-color: darkorange;
    transition: background-color linear 0.2s;
}

i {
    font-family: serif;
    font-size: 20px;
    text-align: center;
}

.axisX {
    position: absolute;
    background-color: black;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
}

.axisY {
    position: absolute;
    background-color: black;
    width: 1px;
    left: 50%;
    top: 0;
    bottom: 0;
}

.notchX {
    position: absolute;
    background-color: black;
    height: 3px;
    width: 1px;
    top: 50%;
}

.notchY {
    position: absolute;
    background-color: black;
    width: 3px;
    height: 1px;
    left: 50%;
}

.labelX {
    position: absolute;
    top: 50%;
    padding-top: 5px;
}

.labelY {
    position: absolute;
    left: 50%;
    padding-left: 8px;
}

.r1circle {
    position : absolute;
    border: 1px solid black;
    border-radius: 50%;
}

.help i {
    font-size: 16px;
}