﻿@page "/"
@inject IJSRuntime js

<div class="root">
    <div class="header">
        <h1>🔥 Fractal Blaze</h1>
        <button class="@(drawR1Circle ? "active" : string.Empty)" @onclick="() => drawR1Circle = !drawR1Circle">Draw r=1 circle</button>
        <button class="@(drawAxes ? "active" : string.Empty)" @onclick="() => drawAxes = !drawAxes">Draw axes</button>
        <button class="@(mode == DisplayMode.SquareOfCurrent ? "active" : string.Empty)" @onclick="() => SetDisplayMode(DisplayMode.SquareOfCurrent)">Square of current</button>
        <button class="@(mode == DisplayMode.ChainOfSquares ? "active" : string.Empty)" @onclick="() => SetDisplayMode(DisplayMode.ChainOfSquares)">Chain squares</button>
        <button class="@(mode == DisplayMode.Julia ? "active" : string.Empty)" @onclick="() => SetDisplayMode(DisplayMode.Julia)">Julia</button>
    </div>
    <div class="menu">
        <h2>Current point</h2>
        <PointView Label="CP" Point="currentPoint" />
        <h2>Selected point</h2>
        <label>Right-click to set selected point</label>
        <PointView Label="SP" Point="selectedPoint" />
        <label>Set value</label>
        <PointInput OnSet="c => selectedPoint = c" />
        <button @onclick="() => selectedPoint = Complex.Zero">Set to 0 + 0i</button>
        <Help Mode="mode" SwapModifier="swapModifier" />
        @if (mode == DisplayMode.SquareOfCurrent)
        {
            <PointView Label="CP2" Point="Complex.Pow(currentPoint, 2)" />
        }
        <h2>Controls</h2>
        <label>Scale</label>
        <input @bind="scale" type="number" min="1" step="1" />
        @if (mode == DisplayMode.ChainOfSquares)
        {
            <label>Max iterations</label>
            <input @bind="maxIterations" type="number" min="1" max="256" step="1" />
            <button class="@(swapModifier ? "active" : string.Empty)" @onclick="() => swapModifier = !swapModifier">Swap modifier</button>
        }

        @if (mode == DisplayMode.Julia)
        {
            <label>Max iterations</label>
            <input @bind="maxIterations" type="number" min="1" max="256" step="1" />
            <label>Power</label>
            <input @bind="juliaPower" type="number" min="2" step="1"/>
            @if (busy)
            {
                <button @onclick="() => token?.Cancel()">Stop</button>
            }
            else
            {
                <button @onclick="async () => await DrawJulia(context)">Redraw</button>
            }
        }

        @if (drawTime != 0)
        {
            <span>Draw time @drawTime ms / @Math.Round(1000.0 / drawTime, 1) fps</span>
        }
    </div>
    <div class="main" @onmouseup="Click" @onmousemove="MouseMove"
         @onmouseout="() => doDraw = false" @onmouseover="() => doDraw = true">
        <Axes CanvasHeight="canvasHeight" CanvasWidth="canvasWidth" Scale="scale"
              DrawR1Circle="drawR1Circle" DrawAxes="drawAxes" />
        <BECanvas @ref="canvas" Height="canvasHeight" Width="canvasWidth" />
    </div>
</div>